<!DOCTYPE html>
<html>
<head>
    <title>Submit Complaint</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h2>Submit Your Complaint</h2>

    <form method="POST">

        <input type="text" name="area" placeholder="Enter your area / locality" required>

        <input type="text" name="city" placeholder="Enter your city" required>

        <input type="text" name="pincode" placeholder="Enter pincode" required>

        <textarea name="complaint" rows="5" placeholder="Describe your complaint clearly" required></textarea>

        <button type="submit">Submit Complaint</button>
    </form>

    {% if department %}
        <div class="result">
            Assigned Department: {{ department }}
        </div>
    {% endif %}

</div>

</body>
</html>


